# Ambiente
NODE_ENV=development
PORT=3000

# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=cardiocheck

# JWT
JWT_SECRET=cardiocheck_secret_key
JWT_EXPIRES_IN=1d