openapi: 3.0.3
info:
  title: CardioCheck API
  description: API para o aplicativo móvel CardioCheck, utilizado por médicos para avaliar o risco de doenças cardíacas em pacientes.
  version: 1.0.0
servers:
  - url: https://api.cardiocheck.com/v1
    description: Servidor de Produção
  - url: http://localhost:3000/v1
    description: Servidor de Homologação

paths:
  /medicos:
    post:
      summary: Cadastro de novo médico
      tags:
        - Médicos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NovoMedico'
      responses:
        '201':
          description: Médico criado com sucesso
        '400':
          description: Requisição inválida

  /auth/login:
    post:
      summary: Autenticação de médico
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Credenciais inválidas

  /questionarios:
    post:
      summary: Envio de questionário de saúde do paciente
      tags:
        - Questionários
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Questionario'
      responses:
        '200':
          description: Questionário processado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resultado'
        '400':
          description: Dados do questionário inválidos

  /historico:
    get:
      summary: Recupera o histórico de avaliações do médico
      tags:
        - Histórico
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Histórico recuperado com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Avaliacao'
        '401':
          description: Não autorizado

components:
  schemas:
    NovoMedico:
      type: object
      properties:
        nome:
          type: string
        crm:
          type: string
        email:
          type: string
          format: email
        senha:
          type: string
          format: password
        especialidade:
          type: string
      required:
        - nome
        - crm
        - email
        - senha

    Login:
      type: object
      properties:
        email:
          type: string
          format: email
        senha:
          type: string
          format: password
      required:
        - senha

    Token:
      type: object
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          example: Bearer

    Questionario:
      type: object
      properties:
        nome:
          type: string
        age:
          type: integer
        sex:
          type: integer
          enum: [0, 1]
        chestPainType:
          type: integer
          enum: [1, 2, 3, 4]
        restingBloodPressure:
          type: number
        serumCholesterol:
          type: number
        fastingBloodSugar:
          type: integer
          enum: [0, 1]
        restingECG:
          type: integer
          enum: [0, 1, 2]
        maxHeartRate:
          type: number
        exerciseAngina:
          type: integer
          enum: [0, 1]
        oldpeak:
          type: number
        stSlope:
          type: integer
          enum: [0, 1, 2]
      required:
        - nome
        - age
        - sex
        - chestPainType
        - restingBloodPressure
        - serumCholesterol
        - fastingBloodSugar
        - restingECG
        - maxHeartRate
        - exerciseAngina
        - oldpeak
        - stSlope

    Resultado:
      type: object
      properties:
        resultado:
          type: integer
          enum: [0, 1]
        recomendacao:
          type: string

    Avaliacao:
      type: object
      properties:
        data:
          type: string
          format: date-time
        resultado:
          type: integer
          enum: [0, 1]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT